WEAVIATE_URL=<your weaviate url>
WEAVIATE_ADMIN_KEY=<your weaviate admin key>
OPENAI_API_KEY=<your openai apikey>
COHERE_API_KEY=<your cohere apikey>
HUGGING_FACE_API_KEY=<your huggingface apikey>
GOOGLE_API_KEY=<your google apikey>
ANTHROPIC_API_KEY=<your anthropic apikey>
MISTRAL_API_KEY=<your mistral apikey>